#General Build Stuff
*.o
*.exe
*.out
*.so
*.dll

#Sublime Stuff
*.sublime-workspace

#CodeBlocks Stuff
*.cbp
*.depend
*.layout

#Vim Stuff
*.swp

#SFML Contents
SFML-2.2/

#Google Test Contents
gtest-1.7.0/

#TMX Tiled Support
tmxloader/

#Binary executables
bin/
src/psy2
src/test

# GCC pre-compiled headers
*.gch

#Resources
src/assets/
